.quiz > .title {
    font-weight: 600;
    margin-bottom: 10px;
} 

.quiz-question {
    margin-bottom: 10px;
}

.submit-button {
    width: 100px;
    margin-top: 5px;
}

.quiz-option {
    margin-bottom: 10px;
}

.quiz-option > label {
    margin-left: 5px;
}